<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Profile</h1>
    <p>NAMA : <%= profileData.name %></p>
    <p>NIM : <%= profileData.nim %></p>
    <p>ALAMAT : <%= profileData.address %></p>
    <p>HOBI : <%= profileData.hoby %></p>
    <p>GOLS : <%= profileData.gols %></p>
</body>
</html>